html,
body {
    height: 100%;
}

.mt10{
    margin-top: 10px;
}
.mt20{
    margin-top: 20px;
}
.mt25{
    margin-top: 25px;
}
.mt30{
    margin-top: 30px;
}
.mt50{
    margin-top: 50px;
}
.mt70{
    margin-top: 70px;
}
.mt80{
    margin-top: 80px;
}
.mt100{
    margin-top: 100px;
}
.mb0 {
    margin-bottom: 0;
}
.mb10 {
    margin-bottom: 10px;
}
.mr2 {
    margin-right: 2px;
}
.mr10 {
    margin-right: 10px;
}
.mr20 {
    margin-right: 20px;
}
.mr30 {
    margin-right: 30px;
}
.mr50 {
    margin-right: 50px;
}
.ml2{
    margin-left: 2px;
}
.pt0{
    padding-top: 0;
}
.p10{
    padding: 10px;
}
.pl10{
    padding-left: 10px;
}
@media only screen and (max-width : 767px) {
    .mbxs50 {
        margin-bottom: 50px;
    }
}
/*.w100{*/
    /*max-width: 100%;*/
/*}*/

.w50perSm{
    width:50%;
}
@media only screen and (max-width : 767px) {
    .w50perSm {
        width:100%;
    }
}
.w50per{
    width:50%;
}
.w30per{
    width:30%;
}
.w30perCenter{
    width:30%;
    display: block;
    position: relative;
    margin-left:35%;
    margin-bottom: 5px;
}
.w20per{
    width:20%;
}
.w20perCenter{
    width:20%;
    display: block;
    position: relative;
    margin-left: 40%;
    margin-bottom: 5px;
}
.w15per{
    width:15%;
}
.w10per{
    width:10%;
}
.w8per{
    width:8%;
}
.w5per{
    width:5%;
}
.w100{
    width:100px;
}
.w100Center{
    width:100px;
    position: relative;
    display: block;
    left: 50%;
    margin-left: -50px;
}
.w80{
    width:80px;
}
.w50{
    width:50px;
}

.max-w100per{
    max-width: 100%;
}
.min-h100 {
    min-height:100px;
}
.min-h100per{
    min-height:100%;
}
.min-h100per-180{
    min-height:calc(100vh - 180px);
}
.h100per{
    height:100%;
}
.min-h400 {
    min-height:400px;
}
.min-h500 {
    min-height:500px;
}
.min-h600 {
    min-height:600px;
}

.no-list-style ul li {
    list-style-type: none;
}

.list-style-sq ul li {
    list-style-type: square;
}
.list-style-cir ul li {
    list-style-type: circle;
}
.relative {
    position:  relative !important;
}
.uppercase {
    text-transform: uppercase;
}
.article_front_1 h1{
    font-size: 42px;
    color: #5f6973;
}
.article_front_1 h3{
    font-size: 18px;
}
.text-center {
    text-align: center;
    display: block;
}
.table{
    display: table;
}
.table-cell {
    display: table-cell;
}
.table-row {
    display: table-row;
}
.table-column {
    display: table-column;
}
.vertical-middle{
    vertical-align: middle;
}
/* projects */
.carouselControl {
    position: absolute;
    cursor: pointer;
    display: block;

}
.carouselWrapper {
    position: relative;
}
.asb-slick_banner_1 .carouselControl {
    top:50%;
    margin-top: -40px;
}
@media only screen and (max-width : 991px) {
    .asb-slick_banner_1 .carouselControl {
        top:118px;
    }
}

.asb-slick_1 .carouselControl {
    top:50%;
    margin-top: -40px;
}



.carouselControl svg{
    width: 80px;
    height: 80px;
}
.slickPrev,
.asb-slick_banner_1_slickPrev{
    left:10px;
}
.slickNext,
.asb-slick_banner_1_slickNext{
    right:10px;
}
.outside.slickPrev{
    left:-60px;
}
.outside.slickNext{
    right:-60px;
}
@media only screen and (max-width : 991px) {
    .outside.slickPrev{
        left:10px;
    }
    .outside.slickNext{
        right:10px;
    }
}

@media only screen and (max-width : 768px) {
    .outside.slickPrev{
        left:0;
    }
    .outside.slickNext{
        right:0;
    }
}

.carouselControl svg{
    /*fill: #ffffff;*/
    fill: rgba(255,255,255,0.7)
}
.carouselControl svg:hover{
    /*fill:#838e9a;*/
    fill:#31405f;
    /*fill:#0F2146;*/
}

.bright .carouselControl svg{
    fill: #ffffff;
}
.bright .carouselControl svg:hover{
    /*fill:#838e9a;*/
    fill:#31405f;
}
.grey .carouselControl svg{
    /*fill:#0F63A4;*/
    fill:#838e9a;
    /*fill:#30353b;*/
    /*fill: #838e9a;*/
}
.grey .carouselControl svg:hover{
    /*fill:white;*/
    fill:#0F63A4;
    /*fill:#838e9a;*/
}
.dark .carouselControl svg {
    /*stroke:#fff;*/
    stroke:#838e9a;
}
.dark .carouselControl svg:hover {
    /*stroke:#838e9a;*/
    stroke:#fff;
}
.carousel_item .abtn{
    position: absolute;
    left:30px;
    top:100px;
    z-index:1000;
}
.carousel_item .rbtn{
    position: relative;
    left: -20vw;
    top: -100px;
}
.slick-dots {
    position: absolute;
    bottom: 50px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

}
.slick-dots li  {

    display: inline-block;
    margin: 5px;

}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 1px solid white;
    outline: none;
    background: transparent;
    border-radius: 50px;
}
/*.slick-dots li button:hover {*/
    /*border: 1px solid #838e9a;*/
/*}*/

.slick-dots li.slick-active button {
    opacity: .75;
    background: white;
    color: black;
}
.blue_circle {
    background-color: #0090d7;
    /*background: url(/img/b-header__background.png) 0 0 repeat-x scroll;*/
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    width:auto;
    font-size: 26px;
    line-height: 1.1;
}
.text_blue_center {
    color: #0090d7;
    text-align: center;
}
.text_small{
    font-size:0.75em;
}
@media only screen and (max-width : 767px) {
    .text_small {
        font-size:1em;
    }
}


h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}

h3 {
    font-size: 21px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 17px;
}
h6 {
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6 {
    color: #5f6973;
}
.asb-header_on_img .header {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    color: #ffffff;
    margin-top: 10px;
    padding: 5px;

}
.asb-header_on_img .image_box {

}
@media only screen and (max-width : 767px) {
    .asb-header_on_img .image_box {
        width: 300px;
        position: relative;
        left: 50%;
        margin-left: -150px;
    }
}

.dark {
    color: white;
    /*background-color: #3f4158;*/
    background-color: #31405f;
}

.grey {
    /*background-color: #f5f5f5;*/
    /*color: #333;*/
    background-color: #fff4c0;
    color: #414042;

}
.light-grey {
    background-color: #f5f5f5;
    border: 1px #ececec solid;
}
.dark-green {
    background-color: #285654;
    color: white;

}
.box {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.float-right{
    float:right;
    margin-left: 10px;
}
.float-left{
    float:left;
    margin-right: 10px;
}

section::after {
    content: "";
    clear: both;
    display: table;
}
img {
    max-width: 100%;
}
.article_view  {
    font-size: 13px;
    /*color:#5f6973;*/
    color:#444;
}
.calculator .box {
    /*background-color: #ececec;*/
    background-color: #f5f5f5;
    border: 1px #ececec solid;
}
.asbi-v_svg_head_text .svg svg {
    width: 80px;
    height: 80px;
}
.inline {
    display: inline-block;
}

.main-bg-calculator .response {
    background-color: #fff4c0;
    border: 1px solid burlywood;
    padding: 20px;
}

.main-bg-calculator .response .commission{
    font-size: 36px;
}

.asb-10_icons_in_footer .imgCenter{
    position: relative;
    left: 50%;
    margin-left: -50px;
    width: 100px;

}
@media only screen and (max-width : 1080px) {
    .asb-10_icons_in_footer .imgCenter{
        margin-left: -40px;
        width: 80px;

    }
}


/* more less*/
@media only screen and (max-width : 767px) {
    .more768 {
        display: none;
    }
    .less768 {
        display: block;
    }
}
@media only screen and (min-width : 768px) {
    .more768 {
        display: block;
    }
    .less768 {
        display: none;
    }
}
@media only screen and (max-width : 479px) {
    .more480 {
        display: none;
    }
    .less480 {
        display: block;
    }
}
@media only screen and (min-width : 480px) {
    .more480 {
        display: block;
    }
    .less480 {
        display: none;
    }
}
section {
    /*margin-bottom: 50px;*/
    padding-top: 20px;
    padding-bottom: 20px;
}

#mainOrderSection .head {
    font-family: Montserrat,sans-serif;
    font-size: 27px;
    font-weight: 300;
    margin-top: 70px;
    margin-bottom: 70px;
}
.dark .head {
    color: white;
}

.a-page-topline_futorder .headLine {
    position: relative;
    background-color: #31405f;
    color: #ffffff;
    min-height: 74px;
    /*padding: 19px 0;*/
}
.a-page-topline_futorder .headLine h1 {
    position: relative;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 34px;
    color: #ffffff;
}

.a-page-topline_futorder .headLine .icon svg {
    position: absolute;
    width: 85px;
    height: 70px;
    top: -34px;
    left: -90px;
}
.a-page-topline_futorder .headLine .icon {
    position: relative;
}
.article_no_footer .navbar {
    margin-bottom: 0;
}
.as-img_back {
    background-size: cover;
    background-position: center;
}
.as-img_back .lead{
    background-color: rgba(255,255,255,0.7);
    text-align: center;
    padding: 10px;
    margin-top: 80px;
    color: #31405f;
}





/*     gsap slider    */

.tz-calculator .value,
.bg-calculator .value {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight:bold;
    font-size:26px;
    color:#566566;
}
@media only screen and (max-width : 479px) {
    .tz-calculator .value,
    .bg-calculator .value {
        font-size:18px;
    }
}

 #slider_container{
    background-color: #c2d2d4;
    height:10px;
    top:0;
    overflow: visible;
    padding:0;
    position:relative;
    /*margin-left: 25px;*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#time_slider_container{
    background-color: #c2d2d4;
    height:10px;
    top:0;
    overflow: visible;
    padding:0;
    position:relative;
    /*margin-left: 25px;*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#slider_container,
#time_slider_container{
    width: 100%;
}
.tz-calculator .pin,
.bg-calculator .pin {
    /*background-color: #008c7b;*/
    text-align: center;
    font-family: Asap, Avenir, Arial, sans-serif;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    z-index:2;

    border: 2px solid #f5f5f5;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius:50%;
    background: #4DA29F;
    /*background: #72EFE9;*/
    box-shadow: 0 0 3px gray;
}

.tz-calculator .pin:hover {
    background: #55939c;
    /*background: #295654;*/
    /*background: #4DA29F;*/
}

.tz-calculator .slider_range,
.bg-calculator .slider_range,
.bg-calculator .time_slider_range{
    background-color:#6a7d81;
    height:10px;
    position:relative;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.rotor_knob {
    width: 120px;
}


.fz_list label {
    margin-right: 10px;
}
.no_fz_list label {
    margin-right: 10px;
    font-weight: 400;
}
.breadcrumb {
    background-color: transparent;
    margin-bottom: 0px;
}
.breadcrumb a{
    color: #787878;
}
.breadcrumb > .active {
    color: #9F9F9F;
}


.asb-slick_leadbox .slick-slide {
    display: inline-block;
    line-height:80px;
}
.asb-slick_leadbox .slick-slide p {
    display: inline-block;
    vertical-align: middle;
    line-height:1em;
    margin-bottom: 0;
    font-size:24px;
}

.asb-slick_leadbox  .slickNext {
    right: 10px;
    bottom: 5px;
}
.dark .asb-slick_leadbox  .slickNext {
    color: white;
    border: 1px white solid;
}
.dark .asb-slick_leadbox  .slickNext:hover {
    color: black;
    background-color: #fbb118;
    border: 1px solid #fbb118;
}
.dark-green .asb-slick_leadbox  .slickNext {
    color: white;
    border: 1px white solid;
}
.dark-green .asb-slick_leadbox  .slickNext:hover {
    color: black;
    background-color: #fbb118;
    border: 1px solid #fbb118;
}
.asb-slick_leadbox  .slickNext {
    border: 1px grey solid;
    padding: 5px 7px;
    border-radius: 5px;
    cursor: pointer;
    color: grey;
}
.asb-slick_leadbox  .slickNext:hover {
    color: black;
    background-color: #fbb118;
    border: 1px solid #fbb118;
}

.border {
    border:1px solid grey;
}

.bg-calc-rotor .name,
.bg-calc-rotor .no_fz_list {
    /*color: #d9d9d9;*/
    /*text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);*/

    color: rgba(0,0,0,.8);
    text-shadow: 3px 2px 3px rgba(255,255,255,.2);
}
.bg-calc-rotor .name{
    font-size: 18px;
}
.bg-calc-rotor .value {
    font-size: 20px;
    color: #e0dfdc;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

.bg-calc-rotor .value .display {
    /*background: #0e8dbc;*/
    /*padding: 5px 5px 7px;*/
    /*border-radius: 5px;*/
}
.bg-calc-rotor .result-value {
    font-size: 24px;
    color: #e0dfdc;
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
}
/*.bg-calc-rotor .result-value .display{*/

    /*padding: 5px 5px 7px;*/
    /*border-radius: 5px;*/
/*}*/
.bg-calc-rotor .dark {
    background: #556677;
}